@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("../woff/shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("../woff/shift-bold.woff") format("woff");
}