<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div class="jumbo">
    <h1>About<h1>
    <h2>This is the aboout page: CS6083 Database Systems Final Project - Social Network Tourini<h2>	
	<p>This project is to establish a database system backend a web-based server. In this project people that like to travel a lot can sign up at the site, can post photos and diary entries about their travel, and can connect with and get advice from other travelers. In this first part of the project, we designed a relational database that can serve as a relational backend for this new website. Registered users on the site are identified by a unique user name, and they can optionally upload a short profile with information about themselves. Users can upload photos that they have taken on their trips, where each photo has a unique ID and is labeled with the time when, and place where, it was taken, and maybe a short caption. As a social networking site, users also need mechanisms to interact with each other. Each user can organize their friends into circles.All location information is stored in longitude and latitude coordinates.
	</p>
  </div>
<hr>
{% for post in posts %}
    {% include 'post.html' %}
{% endfor %}
{% endblock %}