{#  {% extends "bootstrap/base.html" %}  #}
<!DOCTYPE html>

<html>
  <head>
    <link href="{{ url_for('static', filename='css/shift.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
 
  <header>
		
		
      <div class="nav">
	    <div class="container">
        <ul class="pull-left">		
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
		<ul class="pull-right">
		  {% if 'user_name' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          {% endif %}
		 </ul>
        </ul>
      </div>
    </div>
  </header>
	<div class="jumbotron">
		<div class="container">
		  {% block content %}
		  {% endblock %}
		</div>
	</div>
	
	<div class="new">
			<div class="panel">
			<br />
			<br />
            <p>How can I help you?</p>
			</div>
        <p class="slide"><div class="pull-me">Leave Feedback</div></p>
		</div>
	
  </body>
</html>

{% block scripts %}
{{ moment.include_moment() }}
{% endblock %}