<!DOCTYPE html>
<html>
  <head>
    <title>Tourini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
  <header>
    <div class="container">
      <h1 class="logo">Tourini</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% if 'user_name' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
 
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
 
  </body>
</html>