{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}

{% if session['user_name'] %}
<h1>Welcome to Tourini!</h1>
<h3>Hi {{ session['user_name'] }}!</h3>
{% else %}
<h1>Welcome to Tourini!</h1>
<h3>Join us for fun~~</h3>
{% endif %}
<hr>

{% if session['user_name'] %}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
	
	{{ form.file.label }}
    {{ form.file }}         
     
    {{ form.body.label }}
    {{ form.body }}
     
    {{ form.submit }}
</form>
{% endif %}

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}


{#
{% for post in posts %}
<div><p><a href="{{ url_for('.user', user_name = post.user_name) }}">
			{{post.user_name}} 
		</a>says: 
		<b>{{post.body}}</b></p></div>
{% endfor %}

<table>
    <tr valign="top">
        <td><img src= {{post.url}} ></td>
		<td><i><a href="{{ url_for('.user', user_name = post.user_name) }}">
				{{post.user_name}}
				</a>says:
		</i><br>{{post.body}}</td>
    </tr>
</table>
#}