{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% if session['user_name'] %}
<h1>Welcome to Tourini!</h1>
<h3>Hi {{ session['user_name'] }}!</h3>
{% else %}
<h1>Welcome to Tourini!</h1>
<h3>Join us for fun~~</h3>
{% endif %}
<hr>

{% if session['user_name'] %}
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
	
	{{ form.file.label }}
    {{ form.file }}         
     
    {{ form.body.label }}
    {{ form.body }}
     
    {{ form.submit }}
</form>
{% endif %}


{% for post in posts %}
<div><p>{{post.user_name}} says: <b>{{post.body}}</b></p></div>
{% endfor %}
{% endblock %}