{% extends "base.html" %}
 
{% block content %}
  <h2>Sign up</h2>
 
  {% for message in form.user_name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.user_name.label }}
    {{ form.user_name }}         
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
     
{% endblock %}